[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
flask = "*"
frozen-flask = "*"
flask-flatpages = "*"
flask-bootstrap = "*"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.7.9"
