[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
pygments = "*"
flask = "*"
flask-flatpages = "*"
flask-bootstrap = "*"
frozen-flask = "*"

[dev-packages]

[requires]

