<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/pygments.css" rel="stylesheet">
    <!--link rel="stylesheet" href="{{ url_for('pygments_css') }}"-->

    <title>Carina Group Analytics</title>
  </head>


  <body class="d-flex flex-column h-100">
    <div class="wrapper">
      <header class="sticky-top modal-header">
        <h1 class="display-1" >Carina Group Analytics</h1>

      </header>
    </div>
  </body>
